* {
    margin: 0;
    padding: 0;
}

 header,
 footer {
    width: 100%;
    height: 120px;
    background-color: red;
    color: white;
}

 h1,
 h2 {
    text-align: center;
}

 img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

 ul {
    padding-left: 40px;
    font-size: 20px;
}

 p {
    text-align: center;
    font-size: 30px;
  }

 .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #ff0000;
  }

  .boxpic {
    float: left;
   
    height: auto;
  }

 #boxmodelone {
    width: 51.5%;
	 height:auto;
	 margin-top: 0px;
 }

 #boxmodeltwo {
    width: 47.5%;
 }

#cssrule {
	width:90%;
	height: auto;
}